# editor
.idea/
.vscode/
*.swp
*.swo
*~

# misc
.DS_Store
Thumbs.db
.envrc
.env*.local

node_modules
logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock

.eslintcache
.turbo
.cache/
*.cache

# Build outputs
dist
build/
out/
public/
jest-coverage
*.js.map
*.css.map
